<div class="container">
    <app-card
        name="Card name"
        paymentSystem="Mastercard"
        number="0000 0000 0000 0000"
        amount="4989,33₽"
        expirationDate="02/33"
    ></app-card>

    <app-card
        name="Card name"
        paymentSystem="Visa"
        number="0000 0000 0000 0000"
        amount="4989,33₽"
        expirationDate="02/33"
    ></app-card>

    <p [appAttribute]="attrbutes">Start editing to see some magic happen :)</p>

    <button (click)="onClick()">Change attr</button>

    <hr/>

    <p>{{ 24637423.123 | myPipe: 'ru-RU' }}</p>
    <p>{{ 24637423.123 | myPipe: 'en-US' }}</p>
</div>